@{
    Layout = "_Layout";
}
<div class="row mt-5 center-block">
    @*<div class="col-md-4">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="alert alert-warning text-center p-3">
                        <span class="text-center"><strong>478 Soru</strong></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-info text-center p-3">
                        <span class="text-center"><strong>4784 Mesaj</strong></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-danger text-center p-3">
                        <span class="text-center"><strong>451 Üye</strong></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-success text-center p-3">
                        <span class="text-center"><strong>4784 Havuz</strong></span>
                    </div>
                </div>
            </div>

        </div>*@
    <div class="col-md-12">
        <div class="col-sm-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        @*<img src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40 rounded-circle" alt="">*@
                        <i class="fa fa-user fa-2x"></i>
                        <div class="media-body ml-3">
                            <span>Tom Harry</span>
                            <div class="text-muted small">13 days ago</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div><i class="fa fa-calendar"></i> <strong>01/1/2019</strong></div>
                            <div><i class="fa fa-eye"></i> <strong>134</strong></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @*<p> For me, getting my business website made was a lot of tech wizardry things. Thankfully i get an ad on Facebook ragarding commence website. I get connected with BBB team. They made my stunning website live in just 3 days. With the increase demand of online customers. I had to take my business online. BBB Team guided me at each step and enabled me to centralise my work and have control on all aspect of my online business. </p>*@
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/assets/images/gallery/1.jpg" class="img-responsive img-rounded img-thumbnail w-100 h-100" />
                        </div>
                        <div class="col-md-8">
                            <p>
                                <a href="#" class="sorulink">
                                    For me, getting my business website made was a lot of tech wizardry things. Thankfully i get an ad on Facebook ragarding commence website. I get connected with BBB team. They made my stunning website live in just 3 days. With the increase demand of online customers. I had to take my business online. BBB Team guided me at each step and enabled me to centralise my work and have control on all aspect of my online business.
                                </a>
                            </p><hr />
                            <p class="text-muted">Bu soru 122 farklı havuza eklendi.</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3">
                        <span href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true">
                            <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span>
                        </span> <span class="text-muted d-inline-flex align-items-center align-middle ml-4">
                            <i class="fa fa-envelope text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span>
                        </span>
                        <span class="d-inline-flex align-items-center align-middle ml-4 badge badge-primary p-2">Lise - Matematik</span>
                        <span class="d-inline-flex align-items-center align-middle ml-4 badge badge-success p-2">Kolay Soru</span>
                    </div>
                    <div class="px-4 pt-3"> <button type="button" class="btn btn-primary"><i class="fa fa-list"></i>&nbsp; Detay</button> </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <a href="javascript:void(0)" data-abc="true">Tom Harry</a>
                            <div class="text-muted small">13 days ago</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div><strong>01/1/2019</strong></div>
                            <div><i class="fa fa-eye"></i> <strong>134</strong></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @*<p> For me, getting my business website made was a lot of tech wizardry things. Thankfully i get an ad on Facebook ragarding commence website. I get connected with BBB team. They made my stunning website live in just 3 days. With the increase demand of online customers. I had to take my business online. BBB Team guided me at each step and enabled me to centralise my work and have control on all aspect of my online business. </p>*@
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/assets/images/products/shutterstock_777034621.jpeg" class="img-responsive img-rounded img-thumbnail w-100 h-100" />
                        </div>
                        <div class="col-md-8">
                            <p>
                                <a href="#" class="sorulink">For me, getting my business website made was a lot of tech wizardry things.</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true"> <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span> </a> <span class="text-muted d-inline-flex align-items-center align-middle ml-4"> <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span> </span> </div>
                    <div class="px-4 pt-3"> <button type="button" class="btn btn-primary"><i class="fa fa-list"></i>&nbsp; Detay</button> </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <a href="javascript:void(0)" data-abc="true">Tom Harry</a>
                            <div class="text-muted small">13 days ago</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div><strong>01/1/2019</strong></div>
                            <div><i class="fa fa-eye"></i> <strong>134</strong></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p> For me, getting my business website made was a lot of tech wizardry things. Thankfully i get an ad on Facebook ragarding commence website. I get connected with BBB team. They made my stunning website live in just 3 days. With the increase demand of online customers. I had to take my business online. BBB Team guided me at each step and enabled me to centralise my work and have control on all aspect of my online business. </p>
                    <hr />
                    <p class="text-muted">Bu soru 122 farklı havuza eklendi.</p>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true"> <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span> </a> <span class="text-muted d-inline-flex align-items-center align-middle ml-4"> <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span> </span> </div>
                    <div class="px-4 pt-3"> <button type="button" class="btn btn-primary"><i class="fa fa-list"></i>&nbsp; Detay</button> </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <a href="javascript:void(0)" data-abc="true">Tom Harry</a>
                            <div class="text-muted small">13 days ago</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div><strong>01/1/2019</strong></div>
                            <div><i class="fa fa-eye"></i> <strong>134</strong></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p> For me, getting my business website made was a lot of tech wizardry things. Thankfully i get an ad on Facebook ragarding commence website. I get connected with BBB team. They made my stunning website live in just 3 days. With the increase demand of online customers. I had to take my business online. BBB Team guided me at each step and enabled me to centralise my work and have control on all aspect of my online business. </p>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true"> <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span> </a> <span class="text-muted d-inline-flex align-items-center align-middle ml-4"> <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span> </span> </div>
                    <div class="px-4 pt-3"> <button type="button" class="btn btn-primary"><i class="fa fa-list"></i>&nbsp; Detay</button> </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <a href="javascript:void(0)" data-abc="true">Tom Harry</a>
                            <div class="text-muted small">13 days ago</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div><strong>01/1/2019</strong></div>
                            <div><i class="fa fa-eye"></i> <strong>134</strong></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/assets/images/gallery/1.jpg" class="img-responsive img-rounded img-thumbnail" />
                        </div>
                        <div class="col-md-8"><p> For me, getting my business website made was a lot of tech wizardry things. Thankfully i get an ad on Facebook ragarding commence website. I get connected with BBB team. They made my stunning website live in just 3 days. With the increase demand of online customers. I had to take my business online. BBB Team guided me at each step and enabled me to centralise my work and have control on all aspect of my online business. </p></div>
                    </div>


                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true"> <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span> </a> <span class="text-muted d-inline-flex align-items-center align-middle ml-4"> <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span> </span> </div>
                    <div class="px-4 pt-3"> <button type="button" class="btn btn-primary"><i class="fa fa-list"></i>&nbsp; Detay</button> </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <a class="card-link" href="javascript:void(0)" data-abc="true">Tom Harry</a>
                            <div class="text-muted small">13 days ago</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div><strong>01/1/2019</strong></div>
                            <div><i class="fa fa-eye"></i> <strong>134</strong></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p> For me, getting my business website made was a lot of tech wizardry things. Thankfully i get an ad on Facebook ragarding commence website. I get connected with BBB team. They made my stunning website live in just 3 days. With the increase demand of online customers. I had to take my business online. BBB Team guided me at each step and enabled me to centralise my work and have control on all aspect of my online business. </p>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true"> <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span> </a> <span class="text-muted d-inline-flex align-items-center align-middle ml-4"> <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span> </span> </div>
                    <div class="px-4 pt-3"> <button type="button" class="btn btn-primary"><i class="fa fa-list"></i>&nbsp; Detay</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>